<p><%= link_to "Back", products_path %></p>

<section class="product">
  <%= image_tag @product.featured_image if @product.featured_image.attached? %>

  <section class="product-info">
    <% cache @product do %>
      <h1><%= @product.name %></h1>
      <%= @product.description %>
    <% end %>

    <% if @email.nil? %>
      <p>Email not found</p>
    <% else %>
      <p> <%= @email %> </p>
    <% end %>

    <% if authenticated? %>
      <% default_email = Current.user.email_address %>
    <% else %>
      <% default_email = "john@example.com" %>
    <% end %>
    <%= render "inventory", product: @product, default_email: default_email %>

    <% if authenticated? %>
      <p> Hello <%= Current.user.email_address %> </p>
      <p> Hello <%= request.remote_ip %> </p>
      <%= link_to "Edit", edit_product_path(@product) %>
      <%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    <% end %>
  </section>
</section>
